<h1>Editing Topic</h1>

<%= render 'form', topic: @topic %>
<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>

<form name="detail-form" action="/topics/3" method="post">

  <button type="submit" value="">登録</button>

  # <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

</form>
